// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

// Scheme
$brand-color: #090C9B;

$red: #FF4242;
$blue: #5863F8;
$beige: #FFFDDF;
$yellow: #E8F319;
$orange: #FFA616;
$brand-gray: #CECED6;
$light-blue: #5194EC;
$green: #32B796;
